<h1>
  LATEST - OFFERS
</h1>
<div class= "row">
  <% @offers.each do |offer| %>
    <div id="offer" class="col-sm-4">
      <div class="image hidden-xs">
        <%= image_tag(offer.long_pic.file.url) if offer.long_pic.present? %>
      </div>
      <div class="text">
        <p>
          <%= link_to offer.title, offer_path(offer) %>
        </p>
      </div>
    </div>
  <% end %>
</div>