<h2>
  LATEST - REVIEWS
</h2>
<div class="row">
  <div class="main col-sm-6">
    <div class="image">
      <img src="http://www.toastedfoot.com/wp-content/uploads/2010/09/Velvet-Bowery-Cigar-555x330.jpg">
    </div>
    <div class="text">
      <p class="title">
        welcome
      </p>
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <% @reviews.each do |review|%>
        <%= render partial: "welcome/sub_highlight", locals:{review: review} %>
      <% end %>
    </div>
  </div>
</div>