<div class="sub col-xs-12">
  <div class="image">
    <img src="http://fc06.deviantart.net/fs49/f/2009/220/b/0/Spongebob_4_150x150_PNG_by_somemilk.png">
  </div>
  <div class="text">
    <p class="title">
      <%= review.title %> | <%= link_to review.offer.title, offer_path(review.offer) %>
    </p>
    <p class="hidden-xs">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  </div>
</div>