<h1>
  Get In Dept Review on <%= @offer.title %>
</h1>
<div class="row">
  <div class="col-sm-6">
    <p>
      The review will be sent through email. Please type your email and submit then you will recive the review shortly.
    </p>
    <%= form_tag('/send-email') do %>
      <div class="form-group">
        <%= text_field_tag 'email',"", {class: "form-control", placeholder: "ENTER EMAIL", type: "email"} %>
        <%= hidden_field_tag 'offer_id',"", value: @offer.id %>
      </div>
      <%= button_tag "SUBMIT", class: "btn btn-default" %>
    <% end %>
  </div>
</div>