<div id="highlight" class="row hidden">
  <div class="col-xs-12">
    <%= render "welcome/review" %>
  </div>
</div>
<div id="banner" class="row hidden">
  <div class="col-xs-12">
    <%= render "welcome/banner" %>
  </div>
</div>
<div id="highlight" class="row">
  <div class="col-xs-12">
    <%= render "welcome/offer" %>
  </div>
</div>