<h1>Editing offer</h1>

<%= render 'form' %>

<h2>File Management</h2>
<%= form_for @offer.attachments.new, :html => { :multipart => true } do |form| %>
  <%= form.file_field :file %>
  <%= form.select :file_type, ['long','square','review'] %>
  <%= form.hidden_field :offer_id, value: @offer.id %>
  <%= form.submit %>
<% end %>

<h2>Import Offers</h2>
<%= form_tag import_offers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h2>Import Reviews</h2>
<%= form_tag import_reviews_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


<%= link_to 'Show', @offer %> |
<%= link_to 'Back', offers_path %>
