<div id="offers" class="row">
  <div class="col-xs-12">
    <h1>LISTING OFFERS</h1>
  </div>
  <% @offers.each do |offer| %>
    <div class="col-xs-12 offer">
      <div class="image">
        <%= image_tag(offer.square_pic.file.url) if offer.square_pic.present? %>
      </div>
      <div class="text">
        <p class="title"><%= link_to offer.title, offer_path(offer) %></p class="title">
        <p class="hidden-xs"><%= offer.short_description %></p>
      </div>
    </div>
  <% end %>
</div>
