<div id="offer" class="row">
  <div class="col-sm-9">
    <h1><%= @offer.title %></h1>
    <p><%= @offer.short_description %></p>
    <%= @offer.description.try(:html_safe) %>
    <div class="text-right action">
      <%= link_to "LEARN MORE", @offer.url, class: "btn btn-danger"%>
      <%= link_to "GET FREE IN-DEPTH REVIEW", "/get-in-dept-review?offer=#{@offer.id}", class: "btn btn-success" %>
      <p class="claim">*An in-depth review written by ZTHRU.NET, showing the exclusive details of this offer, such as the registration, process, and result.</p> 
    </div>
    <h2>WHAT PEOPLE SAY</h2>
    <div class="row">
      <% @reviews.each do |review| %>
      <% x=0 %>
      <% [0,1].sample(1) == [0] ? x = "blockquote-reverse" : x = "" %>
      <div class="col-xs-12">
        <blockquote class=<%= "#{x}" %>>
          <p><%= review.content %></p>
          <footer><%= review.username %> in <cite title="Source Title"><%= link_to review.source_name, review.source_url %></cite></footer>
        </blockquote>
      </div>
      <% end %>
      <div class="col-xs-12 text-right">
        <%= link_to 'BACK', offers_path, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <h3>OTHER OFFERS</h3>
    <% @sample_offers.each do |sample_offer| %>
      <p><%= link_to sample_offer.title, offer_path(sample_offer) %></p>
    <% end %>
  </div>
</div>