div#offer{
  .image{
    img{
      width: 100%;
    }
    padding-bottom: 5px;
  }
  .text{
    letter-spacing: 1px;
  }
}
div#highlight{
  img{
    width: 100%;
  }
  h3{
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
  }
  div.main{
    padding-bottom: 15px;
    div.text{
      padding: 15px 0px;
      p.title{
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 42px;
      }
      p{
        font-weight: 100;
        letter-spacing: 1px;
        text-align: justify;
      }
    }
  }
  div.sub{
    padding-bottom: 15px;
    div.image{
      float: left;
    }
    div.text{
      padding: 0px 0px 0px 15px;
      p.title{
        letter-spacing: 1px;
        font-weight: 400;
      }
      p{
        font-weight: 100;
        letter-spacing: 1px;
        text-align: justify;
      }
      overflow: hidden;
    }
  }
}