div#offers{
  div.offer{
    padding-bottom: 15px;
    div.image{
      float: left;
    }
    div.text{
      padding: 0px 0px 0px 15px;
      p.title{
        letter-spacing: 1px;
        font-weight: 400;
      }
      p{
        font-weight: 100;
        letter-spacing: 1px;
        text-align: justify;
      }
      overflow: hidden;
    }
  }
}
div#offer{
  p{
    text-align: justify;
    font-weight: 100;
  }
  p.claim{
    font-size: 14px;
    text-align: right;
  }
  div.action{
    a{
      margin-bottom: 5px;
    }
  }
}