@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

*{
  font-family: 'Oswald', sans-serif !important;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}
h1,h2,h3,h4,h5,h6{
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}

#brand{
  font-size: 44px;
  color: red;
}
p{
  margin-bottom: 15px;
}