<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <%= display_meta_tags :site => 'ZTHRU' %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <%= render "shared/header" %>
    <%= yield %>
    <!-- <%= render "shared/footer" %> -->
  </div>
</body>
</html>
